- if ( comments = SwellSocial::UserPost.where( parent_obj_id: parent_obj.id, parent_obj_type: parent_obj.class.name ).includes(:user, :reply_to).order( created_at: :asc ).page(args[:page]).per(args[:per] || 6) ).present?
	.comments-for-page{ class: "comments-for-page-#{comments.current_page}" }
		- comments.each do |comment|
			= render 'user_posts/comment', user_post: comment, args: { target: args[:target] }

	- if comments.current_page < comments.total_pages
		.comments-for-page{ class: "comments-for-page-#{comments.current_page + 1}" }
			.text-center.comments-for-page-more
				%a{ href: swell_social.comments_path( target: args[:target], parent_obj_type: parent_obj.class.name, parent_obj_id: parent_obj.id, page: (comments.current_page + 1), per: comments.limit_value, format: :js ), data: { remote: true } }
					more
- else
	.comments-for-page{ class: "comments-for-page-#{comments.current_page}" }