$('#first-comment-header').hide();

$('#comments').prepend("#{j render(partial: 'user_posts/comment', locals: {user_post: @post, args: { reply_to: current_user.id, placeholder: 'Write a reply'}})}");

$('#new-comment-form#{params[:reply_to_id]}').html("#{j render(partial: 'user_posts/comment_form', locals: {parent_obj: @list, args: { reply_to: params[:reply_to_id], placeholder: 'Thanks for your comment!'}})}");

$('#comment-reply-#{params[:reply_to_id]}').removeClass('in');

$('html, body').animate({ scrollTop: $('#comments').offset().top - 100}, 1000);